body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 110px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.logo {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: black;
}