@font-face {
    font-family: Shop;
    src: url("../fonts/QuickKiss.ttf");
}


body {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    width: 100vw;
    height: 110px;
    background-color: #FBFBFB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #DDDDDD;
}

.nav-bar {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.logo {
    font-size: 60px;
    font-family: Shop;
}

a {
    text-decoration: none;
    color: #555F6A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: #FD041C;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    color: white;
    opacity: 70%;
}

footer > a {
    color: white;
}